<section class="courses" id="courses">
  <div class="container courses-container">
    <div class="courses-title-box">
      <h2 class="courses-title">
        Our <span class="courses-title-accent">Courses</span>
      </h2>
      <p class="courses-text">
        Good habits are actions that we repeat regularly and that make our lives
        better. They help us to be healthier, happier, more productive, and more
        successful.
      </p>
    </div>
    <ol class="courses-list">
      <li class="courses-item scale-up-center shadow-drop-lr">
        <div class="courses-card-upper">
          <span class="courses-number">01</span>
          <a
            href="#signup"
            class="courses-link"
            aria-label="learn more about the basic training course"
          >
            <svg class="courses-arrow" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
        <div class="courses-pic-list">
          <picture class="courses-pic">
            <source
              media="(min-width: 1440px)"
              srcset="./img/courses/morningrun.webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./img/courses/morningrun.webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./img/courses/morningrun.webp"
            />
            <img
              class="courses-img"
              src="./img/morningrun.webp"
              alt="Run"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="courses-card-text">
          <h3 class="courses-item-title">Run</h3>
          <p class="courses-item-descr">
            Running is not only an accessible and simple form of exercise, but
            it is also incredibly beneficial for your health.
          </p>
        </div>
      </li>
      <li class="courses-item scale-up-center shadow-drop-lr">
        <div class="courses-card-upper">
          <span class="courses-number">02</span>
          <a
            href="#signup"
            class="courses-link"
            aria-label="learn more about the course of landscape photography"
          >
            <svg class="courses-arrow" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
        <div class="courses-card-text">
          <div class="courses-pic-list">
            <picture class="courses-pic">
              <source
                media="(min-width: 1440px)"
                srcset="./img/courses/pitanie.webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/courses/pitanie.webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/courses/pitanie.webp"
              />
              <img
                class="courses-img"
                src="./img/pitanie.webp"
                alt="Run"
                loading="lazy"
              />
            </picture>
          </div>
          <h3 class="courses-item-title">Healthy eating</h3>
          <p class="courses-item-descr">
            Eating healthy provides nutrients your body needs. It can help
            maintain a healthy weight, reduce chronic disease risk, and improve
            well-being.
          </p>
        </div>
      </li>
      <li class="courses-item scale-up-center shadow-drop-lr">
        <div class="courses-card-upper">
          <span class="courses-number">03</span>
          <a
            href="#signup"
            class="courses-link"
            aria-label="learn more about the course of portrait photography"
          >
            <svg class="courses-arrow" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
        <div class="courses-card-text">
          <div class="courses-pic-list">
            <picture class="courses-pic">
              <source
                media="(min-width: 1440px)"
                srcset="./img/courses/fitness.webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./img/courses/fitness.webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/courses/fitness.webp"
              />
              <img
                class="courses-img"
                src="./img/courses/fitness.webp"
                alt="Run"
                loading="lazy"
              />
            </picture>
          </div>
          <h3 class="courses-item-title">Fitness</h3>
          <p class="courses-item-descr">
            Regular exercise helps you look and feel your best. It can increase
            your energy levels, improve your sleep, and reduce stress.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
